@font-face {
  font-family: Helvetica;
  src: url('/fonts/HelveticaNeueLTProBd.otf') format('opentype');
}

@font-face {
  font-family: Helvetica;
  src: url('/fonts/HelveticaNeueLTProMd.otf') format('opentype');
}

@font-face {
  font-family: Helvetica;
  src: url('/fonts/HelveticaNeueLTProRoman.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

html,
body {
  height: 100%;
}
